.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

.char {
  display: inline-block;
}
